{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
    <div class="article_detail_box">
        <div class="article">
            <div class="article_cover_pic">
                <img src="{{ url_for('static',filename='home/images/ranrt0kevxa8yr1q.png', _external=True) }}" alt="">
            </div>
            <div class="article_title">
                {{ article.title }}
            </div>
            <div class="publish_box">
                <a href="#">{{ author.nickname }}</a>
                <span class="publish_time">· {{ article.create_time | friendly_time }}</span>
            </div>
            <div class="article_description">
                {{ article.description }}
            </div>
            <div class="article_detail_content">
                {% autoescape false %}
                    {{ article.content }}
                {% endautoescape %}
            </div>
            <div class="article-footer-txt"><p>本文经授权发布，不代表36氪立场。如若转载请联系原作者。</p></div>
            <div class="adv_box">
                <a href="#">
                    <img src="{{ url_for('static',filename='home/images/v2_1555496072495_img_jpg.jpg', _external=True) }}" alt="">
                </a>
            </div>
            <div class="thumb-up-box">
                <div class="thumb-up-box-inner">
                    <span>0</span>
                </div>
                <p class="txt">好文章，需要你的鼓励</p>
            </div>
            <div class="author_box">
                <a href="#" class="author_avatar">
                    <img src="{{ author.avatar }}" alt="">
                </a>
                <a href="#" class="author_name">{{ author.nickname }}</a>
                <span class="author-level">新锐作者</span>
                <div class="actions-items">
                    <div class="actions-item item-collection-action">
                        <div class="actions-item-icon"></div>
                        <div class="action-num collection-num">{{ collet_num }}</div>
                    </div>
                    <div class="actions-item item-tocomment-action">
                        <div class="actions-item-icon"></div>
                        <div class="action-num comment-num">0</div>
                    </div>
                </div>
            </div>

            <div class="comment-box">
                <div class="common_title_box comment_title_box">
                    <span class="common_title_icon"></span>
                    <div class="common_box_title">参与评论</div>
                </div>
                <div class="comment_edit_box">
                    <textarea id="comment_edit" class="comment-input" placeholder="你怎么看..."></textarea>
                    <div class="comment_footer_box">
                        <div class="comment_user_info">
                            <img  class="comment_user_avatar" src="{{ url_for('static',filename='home/images/default_avatar.e19c4635.png', _external=True) }}" alt="">
                            <span class="comment_user_name">新用户15031104</span>
                        </div>


                        <div class="comment_footer_right">
                            <div class="comment_footer_right_text">
                                <span class="num_item">0</span>/<span>1000</span>
                            </div>
                            <div class="submit_btn">提交评论</div>
                        </div>
                    </div>
                </div>

                <p>请回复有价值的信息，无意义的评论将很快被删除，账号将被禁止发言。</p>
            </div>

            <div class="comment-list-box">
                <div class="common_title_box comment_title_box">
                    <span class="common_title_icon"></span>
                    <div class="common_box_title">评论区</div>
                </div>
                <div class="comment-list">
                    <ul>
                        <li class="comment-list-item clearfix">
                            <div class="comment-list-item-avatar">
                                <img src="{{ url_for('static',filename='home/images/default_avatar.e19c4635.png', _external=True) }}">
                            </div>
                            <div class="comment-list-item-detail">

                                <div class="comment_left_box">
                                        <span class="username">kerrygao</span>
                                        <span class="comment_time"> · 4分钟前</span>
                                </div>
                                <div class="comment_right_box">
                                    <a class="item-user-reply">回复</a>
                                </div>
                                <div class="comment_content_box">
                                    <p class="comment_content">
                                        pauline_Lund 交流，入群交流烦请备注：姓名+公司+职位。36氪出海同时也欢迎更多精英伙伴提供出海类优质原创稿件，邮箱 weipeilin@36kr.com，邮件备注：投稿-标题-作者姓名，感谢！
                                    </p>
                                    <div class="comment_reply_box">
                                        <ul>
                                            <li>
                                                <div class="reply_left_box">
                                                    <span class="username">kerrygao</span>
                                                    <span class="comment_time"> · 4分钟前</span>
                                                </div>
                                                <div class="reply_left_right">
                                                    <a class="item-user-reply">回复</a>
                                                </div>
                                                <p class="reply_content">
                                                    36氪出海同时也欢迎更多精英伙伴提供出海
                                                </p>
                                            </li>
                                            <li>
                                                <div class="reply_left_box">
                                                    <span class="username">kerrygao</span>
                                                    <span class="comment_time"> · 4分钟前</span>
                                                </div>
                                                <div class="reply_left_right">
                                                    <a class="item-user-reply">回复</a>
                                                </div>
                                                <p class="reply_content">
                                                    36氪出海同时也欢迎更多精英伙伴提供出海
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="comment-list-item clearfix">
                            <div class="comment-list-item-avatar">
                                <img src="{{ url_for('static',filename='home/images/default_avatar.e19c4635.png', _external=True) }}">
                            </div>
                            <div class="comment-list-item-detail">

                                <div class="comment_left_box">
                                        <span class="username">kerrygao</span>
                                        <span class="comment_time"> · 4分钟前</span>
                                </div>
                                <div class="comment_right_box">
                                    <a class="item-user-reply">回复</a>
                                </div>
                                <div class="comment_content_box">
                                    <p class="comment_content">
                                        pauline_Lund 交流，入群交流烦请备注：姓名+公司+职位。36氪出海同时也欢迎更多精英伙伴提供出海类优质原创稿件，邮箱 weipeilin@36kr.com，邮件备注：投稿-标题-作者姓名，感谢！
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>




        </div>
        <div class="article_side_bar">
            <div class="article_side_bar_item ">
                <div class="author_info_box">
                    <div class="author_info">
                        <div class="author_info_header">
                            <img class="author_avatar" src="{{ author.avatar }}">
                            <div class="author_text">
                                <a href="#" class="author_name">{{ author.nickname }}</a>
                                <span class="author-role">新锐作者</span>
                            </div>

                        </div>
                        <p class="author_description">关注出海 交流可加微信</p>
                        <span class="sider_bar_title_icon">发表文章{{ author_article_num }}篇</span>
                        <div class="inner-wrapper">
                            <div class="section">
                                <span class="sider_bar_title_icon" style="color: #262626;">最近内容</span>
                                <div class="author-itemslist">
                                    <div class="item-wrapper-box">
                                        <a class="item-title" href="/p/5198528">出海日报 | 腾讯投资的音乐流媒体Gaana月活跃用户超过1亿；Grab投资新加坡物流公司Ninja Van</a>
                                        <div class="item-related-info">
                                            <span class="time item">1小时前</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="author-itemslist">
                                    <div class="item-wrapper-box">
                                        <a class="item-title" href="/p/5198528">出海日报 | 腾讯投资的音乐流媒体Gaana月活跃用户超过1亿；Grab投资新加坡物流公司Ninja Van</a>
                                        <div class="item-related-info">
                                            <span class="time item">1小时前</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="author-itemslist">
                                    <div class="item-wrapper-box">
                                        <a class="item-title" href="/p/5198528">出海日报 | 腾讯投资的音乐流媒体Gaana月活跃用户超过1亿；Grab投资新加坡物流公司Ninja Van</a>
                                        <div class="item-related-info">
                                            <span class="time item">1小时前</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="footer-a">阅读更多内容，狠戳这里</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
    layui.use('carousel', function(){
        var $ = layui.$;
        $(function(){

            //先选出 textarea 和 统计字数 dom 节点
            var textArea = $('#comment_edit');
            var word = $('.num_item');
            var submit_btn = $('.submit_btn');

            //调用
            statInputNum(textArea,word,submit_btn);


            $('.actions-item-icon').click(function () {
                var _this = this;
                var collet_num = parseInt($('.collection-num').html());

                $.ajax({
                    type : "GET",
                    url : "{{ url_for('article-collet',article_id=article.id )}}",
                    dataType : "json",
                    success: function(resp) {
                        //data是返回的hash,key之类的值，key是定义的文件名
                        console.log(resp);
                        if(resp.resp_code == 'RES0001'){
                            layer.msg(resp.resp_desc, {icon: 5});
                        }else if(resp.resp_code=='RES0003'){
                            $('.login').click();
                        }else{
                            if(resp.resp_code=='RES0004'){
                                $(_this).addClass('active');
                                $('.collection-num').html(collet_num+1)
                            }else{
                                $(_this).removeClass('active');
                                var num = collet_num-1 < 0 ? 0 : collet_num-1;
                                $('.collection-num').html(num);
                            }
                        }
                    },
                    error:function(){
                        layer.msg("获取失败", {icon: 5});
                    }
                });
            })


        });

        /*
        * 剩余字数统计
        * 注意 最大字数只需要在放数字的节点哪里直接写好即可 如：<var class="word">200</var>
        */
        function statInputNum(textArea,numItem, submit_btn) {
            var max = 1000,
                curLength;
            curLength = textArea.val().length;
            numItem.text(curLength);
            textArea.on('input propertychange', function () {
                numItem.text($(this).val().length);
                if($(this).val().length > max){
                    numItem.css("color","red");
                    submit_btn.addClass('disabled');
                }else{
                    submit_btn.removeClass('disabled');
                    numItem.css("color","#787878");
                }
            })
        }
        
    });


    </script>
{% endblock %}