{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
    <div class="article_detail_box">
        <div class="article">
            <div class="article_cover_pic">
                <img src="{{ url_for('static',filename='images/ranrt0kevxa8yr1q.png', _external=True) }}" alt="">
            </div>
            <div class="article_title">
                一周观察+ | 《复联4》捞钱有理，奔驰车主开启“短视频维权
            </div>
            <div class="publish_box">
                <a href="#">观察+的小姐姐们</a>
                <span class="publish_time">· 37分钟前</span>
            </div>
            <div class="article_description">
                “开始和结束”是本周新商业世界的关键词。
            </div>
            <div class="article_detail_content">
                <address><p><span>（以下内容是36氪音频节目《观察+》的文字版，收听更多精彩解读，请在36氪app订阅《观察+》）</span></p></address>
                <h3><a href="http://3g.163.com/news/article_cambrian/EC1G1JRG05373Y3P.html" target="_blank">最新研究发现：人在死的时候知道自己已经死了</a></h3>
                <p><a href="https://36kr.com/newsflashes/163955" target="_blank">Uber宣布其自动驾驶部门获软银丰田等10亿美元注资</a></p>
                <p><span>据最新的研究发现，当一个人死亡时，能够意识到自己已经死了，因为即便心脏停跳，身体无法移动，大脑仍然是清醒的状态，甚至能够听到医生宣告自己已经死亡。</span><br></p>
                <p><img alt="氪星晚报 | 百度秘密孵化音乐类新项目；Uber自动驾驶部门获软银等10亿美元注资；游戏版号申报正式重启" src="https://pic.36krcnd.com/201904/19103953/sf9z51zp4gcixu2d.jpg!1200"></p>
                <p>近日，亚马逊退出中国，宣布从7月18日起将停止向第三方卖家提供服务。此前刘强东曾表示，亚马逊在中国做不起来的原因，就是对中国团队没有信任，不授权。“它的总经理一直是外国人，从来没有在中国生活过。”</p>

            </div>
            <div class="article-footer-txt"><p>本文经授权发布，不代表36氪立场。如若转载请联系原作者。</p></div>
            <div class="adv_box">
                <a href="#">
                    <img src="{{ url_for('static',filename='images/v2_1555496072495_img_jpg.jpg', _external=True) }}" alt="">
                </a>
            </div>
            <div class="thumb-up-box">
                <div class="thumb-up-box-inner">
                    <span>0</span>
                </div>
                <p class="txt">好文章，需要你的鼓励</p>
            </div>


        </div>
        <div class="article_side_bar">

        </div>
    </div>

{% endblock %}
{% block script %}
    <script>

    </script>
{% endblock %}