<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}首页_36氪{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='home/css/reset.css', _external=True) }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='home/plugs/layui/css/layui.css', _external=True) }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='home/css/common.css', _external=True) }}">
    <link rel="icon" href="{{ url_for('static',filename='home/images/favicon.ico', _external=True) }}" type="image/x-icon" />

  {% block header %}

  {% endblock %}
</head>
<body>



<div class="container" style="overflow: hidden;">
        <div id="box-left">
            <div class="nav-menu">
                <a class="clearfix" href="/" class=""><div class="logo"></div></a>
                <div class="clearfix">
                    <div class="line"></div>
                </div>
                <ul class="ul-nav">
                    <li class="avtive"><a href="#">首页</a></li>
                    <li><a href="#">快讯</a></li>
                    <li>
                        <span class="open-icon"></span>
                        <a href="#">资讯</a>
                        <ul class="sub-list">
                            <li class="sub-item">
                                <a href="#">最新</a>
                            </li>
                            <li class="sub-item">
                                <a href="#">推荐</a>
                            </li>
                            <li class="sub-item">
                                <a href="#">创投</a>
                                <span class="hot"></span>
                            </li>
                            <li class="sub-item">
                                <a href="#">科技</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">视频</a></li>
                </ul>
                <div class="search-button">
                    <span class="search-icon"></span>
                    <span class="search-text">搜索</span>
                </div>
                <a class="left-box-a" href="#"><span class="seek-report-icon"></span>寻求报道</a>
                <a class="left-box-a" href="#"><span class="i-want-contribution-icon"></span>我要投稿</a>
                <a class="left-box-a" href="#"><span class="seek-finance-entry-icon"></span>寻求投资</a>
            </div>
{#            <span style="width: 100px;display: block;height: 1px;"></span>#}
        </div>
        <div id="box-right">
            <div class="box-right-header">
                {% if not user_info %}
                    <div class="kr-header">
                        <a class="kr-header-btn login"><span>登录</span></a>
                        <a class="line">|</a>
                        <a class="kr-header-btn register"><span>注册</span></a>
                    </div>
                {% else %}
                    <div class="user-center-box">
                        <div class="user-login">

                            <img src="{% if user_info.avatar %}{{ user_info.avatar }}{% else %}{{ url_for('static',filename='home/images/default_avatar.e19c4635.png', _external=True) }}{% endif %}" alt="">
                            <ul class="user-menu">
                                <li><a href="#" class="nickname">{% if user_info.nickname %}{{ user_info.nickname }}{% else %}{{ user_info.username }}{% endif %}</a></li>
                                <li><a href="#">账号设置</a></li>
                                <li><a href="#">我的收藏</a></li>
                                <li><a href="/v2/logout">退出登录</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <ul class="business-line">
                   <li><a href="#" target="_blank" rel="noopener noreferrer">开氪</a></li>
                   <li><a href="#" target="_blank" rel="noopener noreferrer">VClub投资机构</a></li>
                   <li class="kr-product"><span class="kr_36">36氪</span><span class="product">旗下产品</span></li>
                </ul>
            </div>
            <div class="content">
                <!-- 你的HTML代码 -->
                {% block content %}

                {% endblock %}

            </div>
        </div>
    </div>


<div class="footer">
    <div class="container">
        <div style="margin-left: 143px;">
        <div class="clearfix">
            <div class="footer_item footer_item_1">
                <div class="footer_title">
                    36氪产品服务矩阵
                </div>
                <ul class="clearfix">
                    <li><a href="#">开氪</a></li>
                    <li><a href="#">36氪研究院</a></li>
                    <li><a href="#">鲸准</a></li>
                    <li><a href="#">零售老板内参</a></li>
                    <li><a href="#">VCluba</a></li>
                    <li><a href="#">36氪海外站</a></li>
                    <li><a href="#">鲸准</a></li>
                    <li><a href="#">VCluba</a></li>
                    <li><a href="#">36氪创新咨询</a></li>
                </ul>
            </div>
            <div class="footer_item footer_item_2">
                <div class="footer_title">
                    关于36氪
                </div>
                <ul class="clearfix">
                    <li><a href="#">商务合作</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">寻求报道</a></li>
                    <li><a href="#">我要投稿</a></li>
                </ul>
            </div>
            <div class="footer_item footer_item_3">
                <div class="footer_title">
                    合作伙伴
                </div>
                <ul class="clearfix">
                    <li><a href="#"><img src="{{ url_for('static',filename='home/images/link_logo1.png', _external=True) }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ url_for('static',filename='home/images/link_logo2.png', _external=True) }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ url_for('static',filename='home/images/link_logo3.png', _external=True) }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ url_for('static',filename='home/images/link_logo1.png', _external=True) }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ url_for('static',filename='home/images/link_logo2.png', _external=True) }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ url_for('static',filename='home/images/link_logo2.png', _external=True) }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ url_for('static',filename='home/images/link_logo3.png', _external=True) }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ url_for('static',filename='home/images/link_logo1.png', _external=True) }}" alt=""></a></li>
                    <li><a href="#"><img src="{{ url_for('static',filename='home/images/link_logo2.png', _external=True) }}" alt=""></a></li>
                </ul>
            </div>
            <div class="footer_item footer_item_4">
                <div class="footer_title">
                    36氪APP下载
                </div>
                <div class="qr_box">
                    <img src="{{ url_for('static',filename='home/images/qr_code.png', _external=True) }}" alt="">
                </div>
                <p>iOS & Android</p>
            </div>
        </div>
        <div class="footerInfo-wrapper">
            <a href="#" class="footer-logo"><img src="{{ url_for('static',filename='home/images/logoWhite.2a5eceda.png', _external=True) }}" alt=""></a>
            <p>
                本站由<a href="#">&nbsp;&nbsp;&nbsp;阿里云 提供计算与安全服务&nbsp;&nbsp;&nbsp;</a>
                <span>
                    © 2011~2018 北京品新传媒文化有限公司&nbsp;|&nbsp;京ICP备12031756号&nbsp;|&nbsp;京ICP证150143号&nbsp;|&nbsp;京公网安备11010502036099号
                </span>
            </p>
        </div>
        </div>

    </div>
</div>

<div id="login" class="modal">
    <div class="modal_header">
        <img src="{{ url_for('static',filename='home/images/modal_logo.png', _external=True) }}" alt="">
        <div class="modal_close"></div>
    </div>
    <div class="modal_body">
        <div class="form-group">
            <div class="form-group-box">
                <input type="text" class="form-input username" placeholder="请输入手机号/邮箱" autocomplete="off">
            </div>
            <div class="error-area">请输入手机号</div>
        </div>
        <div class="form-group">
            <div class="form-group-box">
                <input type="password" class="form-input password-input password" style="width: 60%;" placeholder="密码（6-16位）" autocomplete="off">
                <span class="password-eyes-icon"></span>
            </div>
            <div class="error-area">请输入正确的密码</div>
        </div>
        <div class="form-group">
            <p class="form-group-text forget"><a href="#" class="forget">忘记密码</a></p>
        </div>
        <div class="form-group">
            <button class="modal-button login-btn">登 录</button>
        </div>
        <div class="form-group">
            <p class="form-group-text">还没有账号？<a href="#">去注册</a></p>
        </div>
    </div>
</div>
<div id="register" class="modal">
    <div class="modal_header">
        <img src="{{ url_for('static',filename='home/images/modal_logo.png', _external=True) }}" alt="">
        <div class="modal_close"></div>
    </div>
    <div class="modal_body">
        <div class="form-group">
            <div class="form-group-box">
                <input type="text" class="form-input username" placeholder="请输入手机号" autocomplete="off">
            </div>
            <div class="error-area">请输入手机号</div>
        </div>
        <div class="form-group">
            <div class="form-group-box">
                <input type="password" class="form-input password-input password" style="width: 60%;" placeholder="密码（6-16位）" autocomplete="off">
                <span class="password-eyes-icon"></span>
            </div>
            <div class="error-area">请输入正确的密码</div>
        </div>
        <div class="form-group">
            <div class="form-group-box">
                <input type="text" class="form-input msg-code" style="width: 60%;" placeholder="请输入验证码" autocomplete="off">
                <div class="send-msg-code">发送验证码</div>
            </div>
            <div class="error-area">请输入正确的验证码</div>
        </div>

        <div class="form-group">
            <button class="modal-button register-btn">注 册</button>
        </div>
        <div class="form-group">
            <p class="form-group-text">已有账号？<a href="#">去登录</a></p>
        </div>
    </div>
</div>


<script src="{{ url_for('static',filename='home/plugs/layui/layui.js', _external=True) }}"></script>
{% block script %}

{% endblock %}
<script>

    //倒计时
    var countdown=5;
    function settime(val) {
        if (countdown == 0) {
            val.removeClass("disabled");
            val.html("发送验证码");
            countdown = 5;
            return false;
        } else {
            val.addClass("disabled");
            val.html(countdown + "s 后重发");
            countdown--;
        }
        setTimeout(function() {
            settime(val);
        },1000);
    }

    layui.use('layer', function(){
        var $ = layui.$;
        var layer = layui.layer;

        $('.send-msg-code').click(function () {
            var _this = this;
            if(!$(this).hasClass('disabled')){
                var username = $('#register .username').val();
                if(username){
                    $.ajax({
                        data : {
                           mobile: username
                        },
                        type : "POST",
                        url : "/v2/send-msg-code",
                        dataType : "json",
                        success: function(data) {
                            if(data.resp_code == 'RES0001'){
                                layer.msg(data.resp_desc, {icon: 5});
                            }else{
                                settime($(_this));
                            }
                        },
                        error:function(){
                            layer.msg("获取短信验证码失败", {icon: 5});
                        }
                    });


                }

            }
        });

        $('.modal_close').click(function () {
            layer.closeAll();
        });


        $('.password-eyes-icon').click(function () {
           if($(this).hasClass('show')){
               $('.password-input').attr('type','password');
               $(this).removeClass('show');
           }else{
               $(this).addClass('show');
               $('.password-input').attr('type','text');
           }
        });

        $('.login').click(function () {
            layer.closeAll();
            layer.open({
                title: false,
                closeBtn: 0,
                shadeClose: true,
                type: 1,
                area: ['460px'],
                content: $('#login') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });

        });
        $('.register').click(function () {
            layer.closeAll();
            layer.open({
                title: false,
                closeBtn: 0,
                shadeClose: true,
                type: 1,
                area: ['460px'],
                content: $('#register')
            });
        });

        $('.login-btn').click(function () {
                console.log('login');
               var username = $('#login .username').val();
               var password = $('#login .password').val();
               $.ajax({
                    data : {
                       mobile: username,
                       password: password
                    },
                    type : "POST",
                    url : "/v2/login",
                    dataType : "json",
                    success: function(data) {
                        //data是返回的hash,key之类的值，key是定义的文件名
                        console.log(data);
                        if(data.resp_code == 'RES0001'){
                            layer.msg(data.resp_desc, {icon: 5});
                        }else{
                            window.location.reload();
                        }
                    },
                    error:function(){
                        layer.msg("登录失败", {icon: 5});
                    }
               });
        });


        $('.register-btn').click(function () {
           var username = $('#register .username').val();
           var password = $('#register .password').val();
           var msg_code = $('#register .msg-code').val();
           $.ajax({
                data : {
                    mobile: username,
                    password: password,
                    verifi_code:msg_code
                },
                type : "POST",
                url : "/v2/register",
                dataType : "json",
                success: function(data) {
                    //data是返回的hash,key之类的值，key是定义的文件名
                    console.log(data);
                    if(data.resp_code == 'RES0001'){
                        layer.msg(data.resp_desc, {icon: 5});
                    }else{
                        window.location.reload();
                    }
                },
                error:function(){
                    layer.msg("注册失败", {icon: 5});
                }
            });
        });



    });

</script>



</body>
</html>