<!-- 分页 -->
{% macro pagination_widget(pagination, endpoint, fragment='') %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active">
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endmacro %}

<!-- 前台分页 -->
{% macro home_pagination_widget(pagination, endpoint, fragment='') %}

    <div class="page">
        <ul class="pagination">

            <li><a href="{{ url_for(endpoint, page=1, **kwargs) }}"><i class="first_page"></i></a></li>
            <li {% if not pagination.has_prev %} class="disabled"{% endif %}><a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}javascript:void(0);{% endif %}"><i class="pre_page"></i></a></li>

            {% for p in pagination.iter_pages() %}
                {% if p %}
                    {% if p == pagination.page %}
                        <li class="active">
                            <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                        </li>
                    {% endif %}

                {% else %}
                    <li class="disabled"><a href="javascript:void(0);">&hellip;</a></li>
                {% endif %}
            {% endfor %}

            <li{% if not pagination.has_next %} class="disabled"{% endif %}>
                <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}javascript:void(0);{% endif %}">
                    <i class="next_page"></i>
                </a>
            </li>

            <li><a href="{{ url_for(endpoint, page=pagination.pages, **kwargs) }}"><i class="last_page"></i></a></li>

        </ul>
    </div>

{% endmacro %}




<!-- 批量字段错误消息 -->
{% macro msg_alert(msgs,type) %}
    {% if msgs %}
        {% for msg in msgs %}
            <div class="alert {{ type }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}


{% macro render_field(field) %}
    {% if field.errors %}
        {{field(class="form-control parsley-error", **kwargs)|safe}}
    {% else %}
        {{ field(class="form-control",**kwargs)|safe }}
    {% endif %}
  {% if field.errors %}
    <ul class="parsley-errors-list filled">
    {% for error in field.errors %}
      <li class="parsley-required">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
