.ellipsis-2, .ellipsis-4 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all
}

.ellipsis-2 {
    -webkit-line-clamp: 2
}

.ellipsis-4 {
    -webkit-line-clamp: 4
}

a, a:hover {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1170px;
    min-width: 1170px;
}

.common_title_box .common_title_icon{
    background: url(../images/home.png) no-repeat;
    background-position: 0 -125px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 7px;
}

.common_title_box .common_box_title{
    display: inline-block;
    margin-left: 4px;
    color: #262626;
    font-size: 20px;
}

#box-left {
    margin-top: 30px;
    width: 100px;
    margin-right: 40px;
    float: left;
}

.nav-menu{
    position: fixed;
    width: 100px;
}


.logo-box {
    display: block;
}

#box-left .logo {
    background-image: url(../images/home.png);
    background-size: 287.82px 1184.04px;
    height: 45px;
    width: 80px;
    background-position: 0 0;
    float: right;

}

#box-left .line-box {
    display: block;
}

#box-left .line {
    float: right;
    background: #ddd;
    height: 1px;
    margin-top: 23px;
    width: 20px;
    /*margin-left: 60px;*/
}

#box-left .ul-nav {
    margin-top: 15px;
}

#box-left .ul-nav > li {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    text-align: right;
}

#box-left .ul-nav li .open-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -38px;
    background-size: 246px 1012px;
    cursor: pointer;
    display: inline-block;
    padding: 6px;
    transform: rotate(-180deg);
    transition: transform .5s linear;
    position: absolute;
    top: 10px;
    left: 18px;
}


#box-left .ul-nav li a {
    font-size: 20px;
    color: #262626;
    text-decoration: none;
    padding: 1px 8px;

}


#box-left .ul-nav > li.avtive > a, #box-left .ul-nav > li > a:hover {
    background: #4285f4;
    color: #fff;
    border-radius: 1px;
}


#box-left .ul-nav li .sub-list {
    /*width: 120px;*/
    /*#787878*/
}

#box-left .ul-nav li .sub-list .sub-item {
    display: inline-block;
    position: relative;
    margin: 8px 0;
}

#box-left .ul-nav li .sub-list a {
    color: #787878;
    font-size: 16px;
}

#box-left .ul-nav li .sub-list a:hover {
    color: #4d7fd0;
}

#box-left .ul-nav li .sub-list .sub-item .hot {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -50px;
    background-size: 246px 1012px;
    padding: 5px 7px;
    position: absolute;
    right: -8px;
    top: 7px;
}

#box-left .search-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -60px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 9px;
    position: relative;
    top: 3px;
}

#box-left .search-button {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 18px;
    height: 48px;
    line-height: 46px;
    width: 62px;
    color: #262626;
    cursor: pointer;
    margin-bottom: 18px;
    margin-left: 30px;
}

.left-box-a {
    width: 94px;
    text-align: center;
    border: 1px solid #4285f4;
    color: #4285f4;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;

}

.left-box-a:hover {
    color: #ffffff;
    background: #4285f4;
    text-decoration: none;
}

.left-box-a span {
    margin-right: 4px;
}

.seek-report-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -78px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 7px;
    position: relative;
    top: 2px;
}

.left-box-a:hover .seek-report-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -92px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 7px;
    position: relative;
    top: 2px;
}


.i-want-contribution-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -876px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 7px;
    position: relative;
    top: 2px;
}

.left-box-a:hover .i-want-contribution-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -890px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 7px;
    position: relative;
    top: 2px;
}


.seek-finance-entry-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -984px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 7px;
    position: relative;
    top: 2px;
}

.left-box-a:hover .seek-finance-entry-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -998px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 7px;
    position: relative;
    top: 2px;
}

#box-right {
    width: 1030px;
    float: left;
}

#box-right .box-right-header {
    height: 34px;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
    position: relative;
}

#box-right .box-right-header:after, #box-right .box-right-header:before {
    background: #fff;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 3px;
}

#box-right .box-right-header .business-line {
    float: right;
    height: 100%;
    /*line-height: 100%;*/
}

#box-right .box-right-header .business-line li {
    float: left;
    margin: 0 20px;
    /*text-align: justify;*/
    font-size: 12px;
    line-height: 34px;
}

#box-right .box-right-header .business-line li .kr_36 {
    color: #4285f4;
}

#box-right .box-right-header .business-line li.kr-product {
    background: url(../images/header-msg.png) no-repeat;
    background-position: 0;
    background-size: 6px 10px;
    color: #4285f4;
    padding-left: 10px;
}

#box-right .box-right-header .business-line li .product {
    color: #000;
}

#box-right .box-right-header .kr-header {
    background: #4285f4;
    float: right;
    line-height: 34px;
    margin-left: 2px;
    position: relative;
    text-align: center;
    width: 118px;
    font-size: 0px;

}

.kr-header .kr-header-btn {
    font-size: 12px;
    color: #ffffff;
    height: 100%;
    position: relative;
    text-align: center;
    width: 50%;
    vertical-align: bottom;
    display: inline-block;
}

.kr-header > .line {
    color: #ffffff;
    position: absolute;
    left: 48px;
    padding: 0 10px;
    top: 0;
    font-size: 12px;
}

.kr-header .kr-header-btn:hover:after {
    background: rgba(0, 0, 0, .12);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.kr-header .kr-header-btn span {
    z-index: 2;
    position: relative;
}

#box-right .content {
    margin-top: 20px;
}

#box-right .content .adv {
    margin-bottom: 20px;
}

#box-right .content .adv a {
    display: block;
}

#box-right .content .adv a img {
    width: 100%;
    height: 140px;
}

#box-right .content #banner a img {
    width: 100%;
    height: 100%;
    transition: all 1s ease 0s;
}

#box-right .content #banner a img:hover {
    transform: scale(1.1);
    /*transform:rotate(10deg);*/
}

/*.layui-carousel:hover .layui-carousel-arrow{*/
/*left: 0;*/
/*}*/

.layui-carousel:hover .layui-carousel-arrow[lay-type=sub],
.layui-carousel[lay-arrow=hover] .layui-carousel-arrow[lay-type=sub] {
    left: 0;
    width: 28px;
    height: 40px;
    border-radius: 0;
}

.layui-carousel:hover .layui-carousel-arrow[lay-type=add],
.layui-carousel[lay-arrow=hover] .layui-carousel-arrow[lay-type=add] {
    right: 0;
    width: 28px;
    height: 40px;
    border-radius: 0;
}

.layui-carousel-ind {
    margin-left: 20px;
    text-align: left;
    bottom: 20px;
    top: unset;
}

.layui-carousel-ind ul, .layui-carousel-ind ul:hover {
    background: none;
}

.layui-carousel-ind li {
    width: 30px;
    height: 2px;
    border-radius: 0;
    background: hsla(0, 0%, 100%, .5);
}

.layui-carousel-ind li.layui-this {
    background-color: #4285f4;
}

#box-right .content #banner {
    float: left;
}

#box-right .content .banner-article {
    width: 300px;
    float: right;
}

#box-right .content .banner-article li {
    width: 145px;
    height: 145px;
    float: left;
    position: relative;
}

#box-right .content .banner-article li img {
    position: absolute;
    width: 145px;
    height: 145px;
}


#box-right .content .banner-article li:nth-child(2n) {
    margin-left: 10px;
}

#box-right .content .banner-article li:nth-child(3), #box-right .content .banner-article li:nth-child(4) {
    margin-top: 10px;
}

#box-right .content .banner-article li p {
    position: absolute;
    width: 145px;
    height: 145px;
    background-image: linear-gradient(-180deg, hsla(0, 0%, 74.9%, 0), rgba(0, 0, 0, .78) 97%);
    bottom: 0;
    left: 0;
    transition: all .5s;
}

#box-right .content .banner-article li p:hover {
    background: rgba(0, 0, 0, .4);
}

/*background: rgba(0,0,0,.4);*/
/*bottom: 0;*/
/*height: 100%;*/
/*left: 0;*/
/*position: absolute;*/
/*width: 100%;*/


#box-right .content .banner-article li p a {
    font-size: 13px;
    color: #ffffff;
    bottom: 6px;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    padding: 0 10px;
    position: absolute;
    text-align: justify;
    transition: bottom .5s;
}

#box-right .content .banner-article li p:hover a {
    bottom: 72px;
    max-height: 72px;
    opacity: 1;
    transform: translateY(50%);
}

#box-right .content .article_box {
    margin-top: 40px;
}

#box-right .content .article_box .article_category_item p {
    color: #262626;
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 14px;
}

#box-right .content .article_box .article_category_item {
    margin-bottom: 30px;
    width: 690px;
}

#box-right .content .article_box .article_list .article_item {
    position: relative;
    height: 143px;
    margin-bottom: 30px;
}

#box-right .content .article_box .article_list .article_item .article_pic {
    border-radius: 2px;
    /*display: flex;*/
    float: left;
    height: 143px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 216px;
    z-index: 1;
}

#box-right .content .article_box .article_list .article_item .article_pic img {
    height: 100%;
    width: 100%;
}


#box-right .content .article_box .article_list .article_item .article_item_info {
    margin-left: 20px;
    float: left;
    width: 454px;
    position: relative;
    height: 143px;
    z-index: 1;
}

#box-right .content .article_box .article_list .article_item .article_title_header {
    overflow: hidden;
    line-height: 24px;
    max-height: 48px;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_tag {
    background: #373737;
    border-radius: 1px;
    color: #fff;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    position: relative;
    text-align: center;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_title {
    color: #262626;
    font-size: 18px;
    text-align: justify;
    transition: .5s;
    margin-left: 5px;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_title:hover {
    color: #4d7fd0;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_description {
    color: #787878;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 10px;
    max-height: 40px;
    overflow: hidden;
    text-align: justify;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_description:hover a {
    color: #4d7fd0;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_footer_bar {
    bottom: 2px;
    color: #a7a7a7;
    float: left;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    width: 100%;
}

#box-right .content .article_box .article_list .article_item .article_item_info .kr-flow-bar-motif {
    margin-right: 6px;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_footer_bar a {
    color: #4285f4;
    padding-left: 2px;
    padding-right: 8px;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_footer_bar .kr-flow-bar-author {
    color: #a7a7a7;
    transition: .5s;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_footer_bar .kr-flow-bar-author:hover {
    color: #4d7fd0;
    cursor: pointer;
}

#box-right .content .article_box .article_list .article_item .article_item_info .article_footer_bar .kr-flow-bar-time-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -115px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 5px;
    position: relative;
    right: 5px;
    top: 1px;
}


#box-right .content .article_box .article_list .article_item .article_item_info .article_footer_bar .kr-flow-bar-time {
    float: right;
}

#box-right .content .article_box .article_list .article_item .shadow-wrapper-card {
    width: 720px;
    height: 173px;
    top: -15px;
    left: -10px;
    border-radius: 2px;
    position: absolute;
    transition: all .2s linear;
    /*z-index: 101;*/
}

#box-right .content .article_box .article_list .article_item:hover .shadow-wrapper-card {
    background: #fff;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, .2);
}

#box-right .content .article_box .special_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#box-right .content .article_box .special_item {
    width: 216px;
    height: 218px;
    position: relative;
    cursor: pointer;
}


#box-right .content .article_box .special_item img {
    width: 216px;
    height: 144px;
    position: absolute;
}

#box-right .content .article_box .special_item .special_img {
    width: 216px;
    height: 144px;
    position: relative;
    z-index: 2;
}

#box-right .content .article_box .special_item .special_img p {
    bottom: 0;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 6px;
    position: absolute;
    text-align: justify;
}

#box-right .content .article_box .special_item .special_footer {
    background: #edf1f4;
    border-radius: 0 0 2px 2px;
    height: 74px;
    position: relative;
    z-index: 2;
}

#box-right .content .article_box .special_item .special_footer p {
    color: #787878;
    font-size: 13px;
    height: 54px;
    line-height: 18px;
    overflow: hidden;
    padding: 0 15px;
    padding-top: 10px;
    text-align: justify;
}

#box-right .content .article_box .special_item:hover .special-shadow-wrapper {
    width: 236px;
    height: 238px;
    top: -10px;
    left: -10px;
    border-radius: 2px;
    position: absolute;
    transition: all .2s linear;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, .2);
}

#box-right .content .index_button_p {

}

#box-right .content .index_button_p .load_more {
    border: 1px solid #4285f4;
    border-radius: 1px;
    color: #4285f4;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 34px;
    margin: auto;
    text-align: center;
    width: 140px;
}

#box-right .content .index_button_p .load_more:hover {
    background: #4285f4;
    color: #fff;
}

#box-right .content .article_box_left {
    width: 720px;
    float: left;
}

#box-right .content .article_box_right {
    float: left;
    width: 300px;
}

#box-right .content .content-box {
    margin-bottom: 30px;
}

#box-right .content .sider_bar_right .sider_bar_title{
    font-size: 0;
}

#box-right .content .sider_bar_right .sider_bar_title .title-icon {
    background: url(../images/home.png) no-repeat;
    background-position: 0 -125px;
    background-size: 246px 1012px;
    display: inline-block;
    padding: 7px;
}

#box-right .content .sider_bar_right .sider_bar_title .bar_title{
    display: inline-block;
    margin-left: 4px;
    color: #262626;
    font-size: 20px;
}

#box-right .content .sider_bar_right .sider_bar_content{
    border-left: 2px solid #f3f3f3;
    margin-left: 5px;
}
#box-right .content .sider_bar_right .sider_bar_box{
    /*padding-left: 22px;*/
    margin-top: 20px;
}

#box-right .content .sider_bar_right .sider_bar_content .sider_bar_article_item{
    margin-left: 10px;
    position: relative;
    margin-bottom: 16px;
}

#box-right .content .sider_bar_right .sider_bar_content .sider_bar_article_item .sider_bar_article_item_icon{
    background: #fff;
    border: 4px solid #b3ccf4;
    border-radius: 100%;
    display: inline-block;
    height: 4px;
    left: -17px;
    position: absolute;
    top: 5px;
    width: 4px;
    z-index: 1;
}

#box-right .content .sider_bar_right .sider_bar_content .sider_bar_article_item .sider_bar_article_item_time{
    color: #a7a7a7;
    font-size: 12px;
    padding-top: 7px;
    display: block;
}

#box-right .content .sider_bar_right .sider_bar_content .sider_bar_article_item p{
    color: #262626;
    cursor: pointer;
    font-size: 14px;
}

#box-right .content .sider_bar_right .sider_bar_content .sider_bar_article_item p:hover{
    color: #4d7fd0;
}

#box-right .content .sider_bar_right .sider_bar_content .sider_bar_article_item .sider_bar_article_item_detail{
    color: #787878;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 22px;
    /*opacity: .3;*/
    overflow: hidden;
    position: relative;
    text-align: justify;
    transition: opacity .5s linear;

    height: auto;
    /*opacity: 1;*/
    padding-top: 10px;

    display: none;
    /*visibility:hidden;*/

}


#box-right .content .sider_bar_right .sider_bar_content .look_more{
    border: 1px solid #4285f4;
    border-radius: 1px;
    color: #4285f4;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 278px;
    margin-left: 10px;
}

#box-right .content .sider_bar_right .sider_bar_content .look_more:hover{
    background: #b3ccf4;
    /*border: none;*/
    color: #fff;
    border: 1px solid #b3ccf4;
}


#box-right .content .sider_bar_right .article_hot_box .article_hot_item{
    width: 300px;
    height: 200px;
    margin-top: 14px;
    position: relative;
    font-size: 0;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .hot_icon{
    background: url(../images/home.png) no-repeat;
    background-size: 246px 1012px;
    left: -10px;
    padding: 19px 30px;
    position: absolute;
    top: 0;
    z-index: 1;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .hot_img_link{
    display: block;
    width: 300px;
    height: 200px;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .hot_img_link .hot_img{
    width: 300px;
    height: 200px;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item p{
    position: absolute;
    bottom: 10px;
    padding-left: 10px;
    padding-right: 16px;
    overflow: hidden;
    max-height: 40px;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item p a{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
#box-right .content .sider_bar_right .article_hot_box .article_hot_item p a:hover{
    color: #4d7fd0;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item.small-item{
    width: 300px;
    height: 70px;
    position: relative;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .small-item-label{
    position: absolute;
    font-size: 12px;
    color: #ffffff;
    background-color: #262626;
    opacity: 0.5;
    padding: 4px 8px;
    font-weight: bold;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .small-item-label.active{
    background: #4285f4;
    opacity: 1;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .small-item-box{
    width: 105px;
    height: 70px;
    float: left;
    display: inline-block;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .small-item-box .small-item-label-a{
    display: block;
    width: 105px;
    height: 70px;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .small-item-box .small-item-label-a img{
    width: 100%;
    height: 100%;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .small-item-description{
    font-size: 14px;
    width: 185px;
    height: 40px;
    overflow: hidden;
    display: block;

}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .small-item-box-right{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 185px;
    height: 70px;
}

#box-right .content .sider_bar_right .article_hot_box .article_hot_item .small-item-time{
    bottom: 2px;
    color: #a7a7a7;
    font-size: 12px;
    position: absolute;
    /*position: fixed;*/
}


.footer{
    background: #2d3237;
    width: 100%;
    padding-top: 26px;
    min-width: 1170px;
}
.footer .footer_item{
    float: left;
}
.footer .footer_item .footer_title{
    color: #fff;
    font-size: 16px;
    text-align: justify;
}

.footer .footer_item ul li a{
    font-size: 14px;
    color: #ffffff;
    opacity: 0.7;

}

.footer .footer_item_1 {
    width: 321px;
}
.footer .footer_item_1 ul{
    display: block;
    margin-top: 20px;

}
.footer .footer_item_1 ul li {
    float: left;
    margin-bottom: 13px;
    width: 107px;
}



.footer .footer_item_2 {
    margin-left: 95px;
}
.footer .footer_item_2 ul{
    display: block;
    margin-top: 20px;
    width: 65px;
}

.footer .footer_item_2 ul li {
    float: left;
    margin-bottom: 13px;
    width: 107px;
}



.footer .footer_item_3 {
    margin-left: 95px;
}
.footer .footer_item_3 ul{
    display: block;
    margin-top: 20px;
    width: 275px;
}

.footer .footer_item_3 ul li {
    float: left;
    margin-bottom: 13px;
    width: 68px;
    height: 30px;
    margin-right: 23px;
}

.footer .footer_item_3 ul li img{
    width: 68px;
    height: 30px;
}

.footer .footer_item_4{
    margin-left: 77px;
}
.footer .footer_item_4 .qr_box{
    margin-top: 16px;
}
.footer .footer_item_4 .qr_box img{
    width: 98px;
    height: 98px;
}

.footer .footer_item_4 p{
    color: #aaa;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

.footer .footerInfo-wrapper{
    border-top: 1px solid #3b424a;
    padding-bottom: 17px;
    padding-top: 17px;
}

.footer .footer-logo{
    display: inline-block;
}

.footer .footer-logo img{
    margin-right: 30px;
    width: 32px;
}

.footer .footerInfo-wrapper p{
    color: #666;
    font-size: 12px;
    display: inline-block;
}

.footer .footerInfo-wrapper p a{
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    /*display: inline-block;*/
}

.article_detail_box .article_cover_pic img{
    border-radius: 2px;
    height: 184px;
    width: 690px;
}

.article_detail_box .article_title{
    margin-top: 28px;
    color: #262626;
    /*font-family: PingFangSC-Medium;*/
    font-size: 30px;
    letter-spacing: 0;
    line-height: 42px;
    text-align: justify;
    margin-bottom: 20px;
}

.article_detail_box .article{
    width: 694px;
    float: left;
}

.article_detail_box .publish_box{
    margin-bottom: 40px;
}

.article_detail_box .publish_box a{
    font-size: 12px;
    color: #4285f4;
    display: inline-block;
}

.article_detail_box .publish_box .publish_time{
    color: #a7a7a7;
    font-size: 12px;
}
.article_detail_box .article_description{
    color: #787878;
    font-size: 16px;
}

.article_detail_box .article_description:after{
    border: .5px solid #ddd;
    content: "";
    display: block;
    margin: 20px 0;
    width: 58px;
}

.article_detail_box .article address{
    border: 0;
    color: #4285f4;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 26px;
    padding-left: 15px;
    position: relative;
}
.article_detail_box .article address:before{
    background-image: linear-gradient(0deg,#2e79f4,#83c3ff);
    background-repeat: no-repeat;
    background-size: 3px;
    border-radius: 3px;
    bottom: 6.5px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 6.5px;
    width: 3px;
}

.article_detail_box .article h3{
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    margin: 40px 0 14px;
    padding-left: 14px;
    position: relative;
}

.article_detail_box .article h3:before{
    background: #4285f4;
    bottom: 4px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 4px;
    width: 4px;
}


.article_detail_box .article .article_detail_content{
    font-size: 16px;
}
.article_detail_box .article .article_detail_content p{
    margin-bottom: 26px;
    word-wrap: break-word;
}

.article_detail_box .article .article_detail_content p img{
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    max-width: 690px;
}
.article_detail_box .article .article_detail_content p a{
    border: solid #999;
    border-width: 0 0 1px;
    color: #3d464d;
    padding: 0 0 1px;
    word-wrap: break-word;
    /*text-decoration: #0C0C0C;*/
}
.article_detail_box .article .article_detail_content p a:hover{
    border-color: #4d7fd0;
    color: #4d7fd0;
}

.article_detail_box .article .article-footer-txt{
    color: #a7a7a7;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 20px;
}
.article_detail_box .article .adv_box{
    height: 140px;
    width: 690px;
    margin-bottom: 20px;
}

.article_detail_box .article .adv_box img{
    border-radius: 2px;
    height: 100%;
    width: 100%;
}

.article_detail_box .article .thumb-up-box-inner{
    margin: auto;
    position: relative;
    width: 70px;
    height: 70px;
    background-size:70px 70px;
    background-image: url(../images/ic_article_praise_normal@2x.7c816373.png);
}

.article_detail_box .article .thumb-up-box-inner.up{
    background-image: url(../images/ic_article_praise_selected@2x.90eeb38c.png);
}

.article_detail_box .article .thumb-up-box-inner span{
    font-size: 12px;
    letter-spacing: 0;
    text-align: center;
    width: 70px;
    position: absolute;
    top: 42px;
    opacity: .4;
}
.article_detail_box .article .thumb-up-box-inner span.up{
    color: #eb000d;
}

.article_detail_box .article .thumb-up-box p{
    color: #262626;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.article_detail_box .article .author_box{
    border-top: 4px solid #4285f4;
    border-radius: 2px 2px 0 0;
    background: rgba(245,247,249,.97);
    height: 40px;
    width: 694px;
    padding: 15px 0;
    margin-bottom: 40px;
}

.article_detail_box .article .author_box .author_avatar{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 20px;

}

.article_detail_box .article .author_box .author_avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.article_detail_box .article .author_box .author_name{
    color: #4285f4;
    font-size: 16px;
    margin-left: 14px;

}

.article_detail_box .article .author_box .author-level{
    border: .5px solid #4285f4;
    color: #4285f4;
    text-align: center;
    padding: 0 6px;
    margin-left: 10px;
    font-size:12px;

}


.article_detail_box .article .author_box .actions-items{
    float: right;
}

.article_detail_box .article .author_box .actions-item{
    float: left;
    margin-right: 33px;

}

.article_detail_box .article .author_box .actions-item .actions-item-icon{
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

}

.article_detail_box .article .author_box .actions-item.item-collection-action .actions-item-icon{
    background-image:url(../images/ic_tab_collection_normal@2x.2fcf6582.png);
}

.article_detail_box .article .author_box .actions-item.item-collection-action .actions-item-icon:hover{
    background-image:url(../images/ic_tab_collection_selected@2x.ddd58bac.png);
}

.article_detail_box .article .author_box .actions-item.item-tocomment-action .actions-item-icon{
    background-image:url(../images/comment.png);
}

.article_detail_box .article .author_box .actions-item.item-tocomment-action .actions-item-icon:hover{
    background-image:url(../images/commtent_light.png);
}

.article_detail_box .article .author_box .actions-item .action-num{
    display: inline-block;
    color: #a7a7a7;
    font-size: 12px;
    vertical-align: middle;
}
.article_detail_box .article .comment-box{
    margin-bottom: 40px;
}

.article_detail_box .article .comment-box .comment_title_box{
    margin-bottom: 3px;
}



              /*<div class="common_title_box">*/
                    /*<span class="common-title-icon"></span>*/
                    /*<div class="common_box_title">参与评论</div>*/
                /*</div>*/


.article_detail_box .article .comment-box .comment_edit_box{
    width: 692px;
    /*background: rgba(245,247,249,.8);*/
    border: 1px solid #ddd;
    border-radius: 2px;
    /*padding: 10px;*/
}

.article_detail_box .article .comment-box .comment-input{
    height: 70px;
    resize: none;
    width: 672px;
    border: none;
    /*background: rgba(245,247,249,.8);*/
    color: #333;
    font-size: 14px;
    padding: 10px;
}
.article_detail_box .article .comment-box .comment_footer_box{
    height: 30px;
    line-height: 30px;
    padding: 10px;
    background: rgba(245,247,249,.8);
}

.article_detail_box .article .comment-box p{
    color: #787878;
    padding-top: 10px;
}

.article_detail_box .article .comment-box .comment_footer_box .comment_user_info{
    float: left;
}

.article_detail_box .article .comment-box .comment_footer_box .comment_user_avatar{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.article_detail_box .article .comment-box .comment_footer_box .comment_user_name{
    color: #4285f4;
    margin-left: 5px;
    display: inline-block;

}

.article_detail_box .article .comment-box .comment_footer_box .comment_footer_right{
    float: right;
}

.article_detail_box .article .comment-box .comment_footer_box .comment_footer_right_text{
    color: #787878;
    /*float: right;*/
    font-size: 14px;
    padding-right: 10px;
    text-align: center;
    display: inline-block;
}

.article_detail_box .article .comment-box .comment_footer_box .submit_btn{
    cursor: pointer;
    background-color: #4285f4;
    border-radius: 1px;
    color: #fff;
    height: 30px;
    padding: 0 12px;
    display: inline-block;
    position: relative;
    /*user-select: none;*/

}

.article_detail_box .article .comment-box .comment_footer_box .submit_btn:hover:after{
    background: #4285f4;
}


.article_detail_box .article .comment-box .comment_footer_box .submit_btn.disabled{
    background: #d4d6d9;
}


.article_detail_box .article .comment-list-box .comment-list .comment-list-item{
    border-bottom: 1px solid #ddd;
    /*margin-left: 50px;*/
    padding: 14px 0 16px;
    position: relative;
}

.article_detail_box .article .comment-list-box .comment-list .comment-list-item .comment-list-item-avatar{
    width: 40px;
    height: 40px;
    float: left;
}

.article_detail_box .article .comment-list-box .comment-list .comment-list-item .comment-list-item-avatar img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.article_detail_box .article .comment-list-box .comment-list .comment-list-item .comment-list-item-detail{
    float: left;
    width: 644px;
    padding-left: 10px;
}

.article_detail_box .article .comment-list-box .comment-list .comment-list-item .comment-list-item-detail .comment_left_box{
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0;
}

.article_detail_box .article .comment-list-box .comment-list .comment-list-item .comment-list-item-detail .comment_left_box .username{
    font-size: 14px;
    color: #262626;
}

.article_detail_box .article .comment-list-box .comment-list .comment-list-item .comment-list-item-detail .comment_left_box .comment_time{
    color: #a7a7a7;
}

.article_detail_box .article .comment-list-box .comment-list .comment-list-item .comment-list-item-detail .comment_right_box{
    position: absolute;
    right: 0;
    top: 24px;
}

.article_detail_box .article .comment-list-box .comment-list .comment-list-item .comment-list-item-detail .comment_right_box .item-user-reply{
    color: #4285f4;
    cursor: pointer;
    font-size: 12px;
}


.comment-list-item-detail .comment_content_box .comment_reply_box{
    background-color: #edf1f4;
    border-radius: 2px;
    margin-top: 15px;
    padding: 0 15px;
    position: relative;
}

.comment-list-item-detail .comment_content_box .comment_reply_box li{
    position: relative;

}

.comment-list-item-detail .comment_content_box .comment_reply_box li .reply_left_box{
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0;
}


.comment-list-item-detail .comment_content_box .comment_reply_box li .reply_left_box .username{
    font-size: 14px;
    color: #262626;
}

.comment-list-item-detail .comment_content_box .comment_reply_box li .reply_left_box .comment_time{
    color: #a7a7a7;
}
.comment-list-item-detail .comment_content_box .comment_reply_box li{
    padding: 14px 0 16px;
    border-bottom: 1px dotted #ddd;
}

.comment-list-item-detail .comment_content_box .comment_reply_box li .reply_left_right{
    position: absolute;
    top:24px;
    right: 0;
    cursor: pointer;
    font-size: 12px;
}
.comment-list-item-detail .comment_content_box .comment_reply_box li .reply_left_right a{
    color: #4285f4;
}

.comment-list-item-detail .comment_content_box .comment_reply_box li:last-child{
    border-bottom: none;
}

.comment-list-item-detail .comment_content_box .comment_reply_box:before{
    background-color: #edf1f4;
    content: " ";
    display: block;
    height: 40px;
    left: 14px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    width: 40px;
}

.article_detail_box .article_side_bar{
    float: right;
    width: 300px;
}

.article_detail_box .article_side_bar .article_side_bar_item{
    padding: 0 15px 16px;
    position: relative;
    width: 268px;
    border-radius: 2px 2px 0 0;
    border: 1px solid #ddd;
    border-top: 4px solid #4285f4;

}

.article_detail_box .article_side_bar .article_side_bar_item .author_info_header{
    padding-top: 19px;
}

.article_detail_box .article_side_bar .article_side_bar_item .author_info_header .author_avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
}

.article_detail_box .article_side_bar .article_side_bar_item .author_info_header .author_name{
    color: #262626;
    display: block;
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    /*width: 170px; */
}
.article_detail_box .article_side_bar .article_side_bar_item .author_info_header .author-role{
    background: #f0f6ff;
    border: 1px solid #4285f4;
    color: #4285f4;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin-top: 4px;
    padding: 0 6px;
    text-align: center;
}

.article_detail_box .article_side_bar .article_side_bar_item .author_info_header .author_text{
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    /*padding-top: 15px;*/
}

.article_detail_box .article_side_bar .article_side_bar_item .author_info .author_description{
    color: #787878;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 0;
}

.article_detail_box .article_side_bar .article_side_bar_item .sider_bar_title_icon{
    color: #a7a7a7;
    font-size: 14px;
    position: relative;
    padding-left: 10px;
}

.article_detail_box .article_side_bar .article_side_bar_item .sider_bar_title_icon:after{
    background: #4285f4;
    bottom: 4px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 3px;
    width: 2px;
    height: 10px;
}


.article_detail_box .article_side_bar .article_side_bar_item .inner-wrapper{
    border-top: 1px solid #ddd;
    padding: 15px 0 8px;
    margin-top: 20px;
    /*width: 270px;*/
}


.article_detail_box .article_side_bar .article_side_bar_item .author-itemslist{
    padding: 5px 0 15px;
}

.article_detail_box .article_side_bar .article_side_bar_item .author-itemslist a{
    color: #262626;
}
.article_detail_box .article_side_bar .article_side_bar_item .author-itemslist a:hover{
    color: #4d7fd0;
}
.article_detail_box .article_side_bar .article_side_bar_item .author-itemslist .time{
    color:#a7a7a7 ;
    font-size: 12px;
    margin-top: 4px;
    display: inline-block;
}
.article_detail_box .article_side_bar .article_side_bar_item .footer-a{
    color: #fff;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0;
    text-align: center;
    background: #4285f4;
    display: block;
    line-height: 40px;
    margin: 0 -16px -17px;
}
/*background: #4285f4;*/
    /*border-radius: 2px 2px 0 0;*/
    /*height: 4px;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 100%;*/

